SECRET_KEY=your_secret_key_here

DEBUG=True

# НАСТРОЙКИ ПОДКЛЮЧЕНИЯ К PostgreSQL
DATABASE_NAME=django_drf
DATABASE_USER=your_user_name
DATABASE_PASSWORD=your_password
DATABASE_HOST=localhost
DATABASE_PORT=5432

# НАСТРОЙКИ API ДЛЯ ПОДКЛЮЧЕНИЯ ОПЛАТЫ КУРСОВ
# API ключ для Stripe API
# Зарегистрируйтесь по адресу https://dashboard.stripe.com/register
# и получите бесплатный ключ
STRIPE_API_KEY=your_actual_api_key_here

# GITHUB TOKEN
# Personal Access Token для GitHub
# Создайте на: https://github.com/settings/tokens
# Необходимые scope: repo, read:org, user (в зависимости от нужд)
GITHUB_TOKEN=your_github_token_here
